* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 80px;
    margin: 0 auto;
}

.text {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 10px solid red;
    margin: 30px;
}

.title {
    margin: 0 0 50px 0;
    margin-bottom: 50px;
}