* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.text {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 10px solid red;
    margin: 30px;
   
}

.title {

    margin: 0 0 50px 0;
    margin-bottom: 50px;
    background-color: rgb(33, 134, 223);
}
 .big-text {
    margin-top: 150px;
 }

 .link {
    display: inline-block;
    padding: 20px;
 }

 .btn {padding: 0;}

 .container{ width: 600px;
margin: 0 auto;}



 .some-item {
    background-color: bisque;
    font-size: 20px;
    line-height: 1,2;
    text-decoration: none;
    font-style: normal;
    display: flex;
    align-items: center;
        margin-bottom: 50px;
        
 }

 
 .some-item:last-child {
    background-color: aquamarine;
    
 }